/* This style hides some information from the extensions-button panel, but makes it appear more compact. Might be useful for someone having lot of extensions */

#unified-extensions-view {
  --uei-icon-size: 17px;

  & > .panel-header {
    display: none !important;
        & + toolbarseparator {
      border: none !important;
      margin: 2px 2px 2px 2px !important;
    }
  }
  
  & .unified-extensions-item {
     margin: -5px 3px 0px 5px !important;
  }
    
  & .unified-extensions-item-menu-button {
    list-style-image: url("chrome://global/skin/icons/more.svg") !important;
    scale: 0.7 !important;
    padding: 0 0 0 var(--arrowpanel-menuitem-margin-inline) !important;
  }
 
  & .unified-extensions-item-message-deck{
    display: none
  }
    
  & > .toolbarbutton-icon {
      border: none !important;
    }
  
  & overflow: hidden;
  }
