/* search */
@media (-moz-bool-pref: "uc.tweak.popup-search") {
  #urlbar:is([breakout][breakout-extend], [breakout][usertyping][focused]) {
    #urlbar-input {
      font-size: 16px !important;
      text-align: left !important;
    }
    #urlbar-input-container {
      height: auto !important;
      padding-block: var(--urlbar-block-padding) !important;
      padding-inline: var(--urlbar-inline-padding) !important;
    }
    #urlbar-go-button {
      margin: auto !important;
    }
    
    z-index: 1;
    position: fixed !important;
    padding-block: 12px!important;
    --urlbar-height: auto !important;
    bottom: auto !important;
    top: 20vh !important;
    padding-left: 6px !important;
    padding-right: 8px !important;
    background-color: #toolbar-bgcolor !important;
    
    left: 18vw !important;
    right: 18vw !important;
    width: 64vw !important;
    
    & .urlbarView-results {
      margin-top: 12px !important;
      padding-block-start: 0px !important;
    }    

  }

  /* background */
  #nav-bar:has(#urlbar:is([breakout][breakout-extend], [breakout][usertyping][focused])){
    /* created as :after so that elements to the right of 
       urlbar will be covered properly */
    &:after {
      content: "";
      position: fixed;
      pointer-events: none;
      
      width: 100vw;
      height: 100vh;
      
      top: 0px;
      left: 0px;
      
      background-color: #000000; !important;
      opacity: 0.5;
      backdrop-filter: blur(300px);
    }
  }
}
